criteria_value_1={{ .criteria_value_1 | shellquote }}
criteria_value_2={{ .criteria_value_2 | shellquote }}
            cat >> "$criteria_value_1" <<____CRITERIA_EOF____
$criteria_value_2
____CRITERIA_EOF____
