LINEAR_API_KEY=lin_api_replace_me
WORKFLOW_GITHUB_TOKEN=github_pat_non_review_work
REVIEWER_GITHUB_TOKEN=github_pat_pr_reviewer
TICKET_ID=CRI-32
REPO_URL=brokenbots/criteria

LINEAR_REVIEW_STATE=In Review
LINEAR_TRIAGE_STATE=Triage
LINEAR_WORK_STATE=In Progress
LINEAR_DONE_STATE=Done
BASE_BRANCH=main
BUILD_CMD=make build
TEST_CMD=make test
CI_GATE_CMD=make build && make test
TEST_REFS=both
MAIN_REF=origin/main
STABLE_REF=
DESIGN_INTENT_FILE=
REPRO_WORKFLOW_DIR=
ALLOW_DIRTY=false
MAX_AGENT_VISITS=2
PROVIDER_BASE_URL=http://host.docker.internal:11434/v1